@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

@import '_reset.scss';
@import '_vars.scss';

html, body {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 50px);
  background-color: $white;
  font-family: $font-body;
  font-weight: $light;
  font-size: 14px;
  text-align: left;
  color: $black;
}

#root {
  width: 100%;

  &.is-fixed {
    position: fixed;
    overflow: hidden;
  }
}

.frame {
  box-sizing: border-box;
  height: 100%;
  padding: 0 30px;
  width: 100%;
  max-width: $bp-large;
  margin: 0 auto;

  @media screen and (max-width: $bp-mobile-sm) {
    padding: 0 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  font-weight: $reg;
  text-transform: uppercase;
}

h1 {
  color: $white;
  cursor: pointer;
  font-size: 18px;

  span {
    color: $l-gray;
  }
}

h2 {
  font-size: 50px;
  line-height: 50px;
  margin-top: -5px;

  span {
    color: $gray;
    font-weight: $light;
  }

  @media screen and (max-width: $bp-mobile) {
    font-size: 35px;
    line-height: 35px;
    margin-top: -2px;
  }

  @media screen and (max-width: $bp-mobile-sm) {
    font-size: 25px;
    line-height: 25px;
    margin-top: -2px;
  }
}

h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  // white-space: nowrap;

  span {
    color: $gray;
    font-weight: $light;
  }

  &.letter {
    margin-bottom: 10px;
  }
}

h5 {
  font-size: 18px;
  text-transform: none;
}

h6 {

}

header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  color: $white;
  background-color: $black;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
  }
}

.btn-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
    
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background: $white;
    left: 15px;

    @include transform(rotate(0deg));
    transition: 75ms ease-in-out;

    &:nth-child(1) {
      top: 17px;
    }

    &:nth-child(2) {
      top: 24px;
    }

    &:nth-child(3) {
      top: 31px;
    }

    &:nth-child(4) {
      top: 38px;
      display: none;
    }
  }

  &.is-active {
    span:nth-child(1), span:nth-child(4) {
      top: 15px;
      width: 0;
      left: 50%;
    }

    span:nth-child(2) {
      @include transform(rotate(45deg));
      width: 20px;
      left: 15px;
    }

    span:nth-child(3) {
      @include transform(rotate(-45deg));
      top: 24px;
      width: 20px;
      left: 15px;
    }
  }
}

a {
  text-decoration: underline;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

footer {
  // padding-top: 100px;
}

button {
  @extend .no-select;
  position: relative;
  color: $black;
  font-size: 16px;
  text-align: center;
  min-height: 38px;
  padding: 6px 14px;
  // margin-right: 20px;
  border: none;
  cursor: pointer;
}

p, pre, code {
  margin: 10px 0;
  font-family: $font-body;
  font-weight: $light;
  font-size: 16px;
}

strong {
  font-weight: $reg;
}

audio {
  width: 100%;
}

// p, li, a, pre, code {
//   line-height: 24px;
// }

#container { 
  margin-top: 50px;
}

.row {
  margin: 30px 0;
}

/* ----- PASSCODE PANEL ----- */

@keyframes wiggle {
  0% { transform: translate(10px, 0); }
  20% { transform: translate(-10px, 0); }
  40% { transform: translate(10px, 0); }
  60% { transform: translate(-10px, 0); }
  80% { transform: translate(10px, 0); }
  100% { transform: translate(0, 0); }
}

.wiggle {
  animation-name: wiggle;
  animation-duration: 500ms;
  transform-origin: 50% 50%;
}

#passcode {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;

  .panel {
    color: $white;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .dots {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    height: 20px;
    font-size: 24px;
  }

  .dot {
    width: 14px;
    height: 14px;
    overflow: hidden;
    text-indent: -999em;
    background-color: $white;
    border-radius: 50%;
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  button {
    color: $white;
    background-color: rgba(255, 255, 255, 0.15);
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    font-size: 24px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}



/* ----- HOME BROWSE VIEW ----- */

#page-home {
  height: calc(100vh - 50px);
  overflow: hidden;
}

#music-browser {
  height: 100%;
}

#side-panel {
  @extend .no-select;
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: $white;
  z-index: 10;
  transition: left 150ms ease-out;

  &.is-open {
    @media screen and (max-width: $bp-mobile-sm) {
      width: 100%;
    }
    left: 0;
  }

}

#side-toggle {
  position: absolute;
  top: 0;
  right: -20px;
  width: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $l-gray;
  cursor: pointer;
}

#main-panel {
  position: relative;
  left: 0;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  transition: margin-left 150ms ease-out;

  &.is-open {
    margin-left: 300px;
  }

  @media screen and (max-width: $bp-mobile-sm) {
    &.is-open {
      margin-left: 0;
    }
  }
}

#artist-list {
  position: relative;
  top: 40px;
  padding: 10px;
  height: calc(100% - 40px);
  overflow-y: auto;

  li {
    font-size: 20px;

    &:hover {
      cursor: pointer;
      background-color: $l-gray;
    }
  }

  h4 {
    margin-top: 20px;
    background-color: $black;
    color: $white;
  }
}

#artist-filter {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 5px;
  border-right: 1px solid $gray;
  border-bottom: 1px solid $gray;

  input {
    width: 100%;
    background-color: $white;
  }
}

.item {
  border-bottom: 1px solid $l-gray;
  padding: 5px 5px 5px 35px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 2px center;
  cursor: pointer;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    background-color: $l-gray;
  }

  &.folder {
    background-image: url(/img/folder.svg);
  }

  &.mp3 {
    background-image: url(/img/mp3.svg);
  }
}

// meta album cover
.cover {
  width: 100%;
  max-width: 300px;
}

#more-from {
  margin-top: 60px;
}

.album {
  width: 160px;
  font-size: 12px;
  text-align: center;

  img {
    width: 100%;
  }

  @media screen and (max-width: $bp-mobile-sm) {
    @include boxWidth(50);
  }
}

/* ----- PLAYER PANEL ----- */

#player-panel {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;

  .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: $l-gray;
  }

  &.min {
    top: auto;
    bottom: 0;
    height: 40px;  
  }
}